In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DATA\interruptionsPerYear.csv')

In [3]:
df.head()

,Unnamed: 0,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,January,11,2,5,2,4,4,0,2,1,1,5,1,2,1,3,5,5,5,4
1,Febuary,11,3,1,3,1,6,0,2,1,0,2,3,3,4,2,5,5,4,4
2,March,8,2,1,7,5,2,1,3,1,1,0,1,4,2,8,4,9,2,1
3,April,2,5,1,4,2,1,0,1,0,2,1,3,3,1,4,2,5,9,3
4,May,0,0,1,4,4,4,1,1,3,2,3,2,6,2,1,5,5,4,1